<% @albums.each do |album| %>
<article>

<p>Name: <%= album.name() %></p>
<p>Artist: <%= album.artist() %>
<p>In Stock: <%= album.quantity() %> </p>
<p> Album ID: <%= album.id() %></p>
<%= print album %>
 <% end %>

 <form action="/recordstore/album/new" method="GET">
   <input type="submit" value="Add Album">
 </form>
