<table class = "table">
    <tr>Album Name</tr>
    <tr>Artist</tr>
    <tr>Quantity</tr>
    <tr>Genre</tr>
    <tr>Total buying price</tr>
    <tr>Selling price</tr>
    <tr>Sold this week</tr>
    <tr>Profit margin</tr>
    <tr>Stock Level</tr>
</table>

<% @albums.each do |album| %>

<p>Album Name: <%= album.name() %></p>
<p>Artist: <%= album.artist.name() %>
<p>In Stock: <%= album.quantity() %> </p>
<p>Genre: <%= album.genre() %> </p>
<p>Total buying price: <%= album.buy_price() %> </p>
<p>Selling price: <%= album.sell_price() %> </p>
<p>Sold this week: <%= album.sold() %> </p>
<p>Profit margin: <%= album.margin() %> </p>
<p>Stock Level: <%= album.stock_level() %></p>


<form action="/recordstore/album/update/<%= album.id %>" method="GET">
  <input type="submit" value="Update Quantity">
 </form>
 <% end %>

 <form action="/recordstore/album/new" method="GET">
   <input type="submit" value="Add Album">
 </form>
