

<div id="inventory_title">
    <p> Artist </p>
    <p> Album </p>
    <p> Stock Level </p>
    <p> Delete </p>
</div>

<p>Click on each record for more information</p>

<% @artists.each do |artist| %>
    <a href = "/recordstore/artist/<%=artist.id%>">
    <div class = "record">
        <%= artist.name() %>
        <p><% artist.albums.each do |album| %></p>
        <p><%= album.name %></p>
        <p><%= album.stock_level %></p>
        <% end %>
        <p><form action="/recordstore/artists/delete/<%=artist.id%>" method="POST">
            <input type="submit" value="Delete" id = "btn"></p>
        </form>
    </div>
    </a>
<% end %>
