

<table class = "table">
    <tr>
        <th>Album Name</th>
        <th>Artist</th>
        <th>Quantity</th>
        <th>Genre</th>
        <th>Total buying price</th>
        <th>Selling price</th>
        <th>Sold this week</th>
        <th>Profit margin</th>
        <th></th>
    </tr>

<% @albums.each do |album| %>

    <tr>
        <td><%= album.name() %></td>
        <td><%=album.artist.name()%></td>
        <td><%= album.quantity() %></td>

        <td><%= album.genre() %></td>

        <td><%= album.buy_price() %></td>

        <td><%= album.sell_price() %></td>

        <td><%= album.sold() %></td>

        <td><%= album.margin() %></td>

        <td><form action="/recordstore/album/update/<%= album.id %>" method="GET">
          <input type="submit" value="Update" id = "btn">
      </form> </td>
  </tr>
 <% end %>
</table>
