
<p> Artist: <%= @album.artist.name %>
<p> Album: <%= @album.name %></p>
<p> Quantity: <%= @album.quantity %> </p>

<form action="/recordstore/albums/update/<%= @album.id %>" method="POST">

  <label for="quantity">New Quantity:</label>
  <input type="number" name="quantity">
  <input type="hidden" name="name" value="<%=@album.name%>">
  <input type="hidden" name="artist_id" value="<%=@album.artist_id%>">
  <input type="hidden" name="id" value="<%=@album.id%>">
  <input type="hidden" name="genre" value="<%=@album.genre%>">
  <input type="hidden" name="buy_price" value="<%=@album.buy_price%>">
  <input type="hidden" name="sell_price" value="<%=@album.sell_price%>">
  <input type="hidden" name="margin" value="<%=@album.margin%>">
  <input type="hidden" name="sold" value="<%=@album.sold%>">



</form>
