<br>

<div id = "album_stats">
<p> Artist: <%= @album.artist.name %></p>
<p> Album: <%= @album.name %></p>
<p> Quantity: <%= @album.quantity %> </p>
</div>

<br>

<div class = "input">
<form action="/recordstore/albums/update/<%= @album.id %>" method="POST">

  <label for="quantity">New Quantity:</label>
  <input type="number" name="quantity">

  <input type="hidden" name="name" value="<%=@album.name%>">
  <input type="hidden" name="artist_id" value="<%=@album.artist_id%>">
  <input type="hidden" name="id" value="<%=@album.id%>">
  <input type="hidden" name="genre" value="<%=@album.genre%>">


  <label for="buy_price">Buying Price(per unit):</label>
  <input type="number" name="buy_price" value="<%=@album.buy_price%>">

  <label for="sell_price">Selling Price</label>
  <input type="number" name="sell_price" value="<%=@album.sell_price%>">

  <label for="sold">Quantity Sold:</label>
  <input type="number" name="sold" value="<%=@album.sold%>">

  <input type="submit" name="submit">

  </form>
 </div>

 <div class ="img-center">
 <img src = "/images/mic.jpg" alt = "mic" id = "mic-image">
 </div>
